# Pandas Homework - Pandas, Pandas, Pandas

## Background

The data dive continues!

Now, it's time to take what you've learned about Python Pandas and apply it to new situations. For this assignment, you'll need to complete **one of two** (not both)  Data Challenges. Once again, which challenge you take on is your choice. Just be sure to give it your all -- as the skills you hone will become powerful tools in your data analytics tool belt.

### Before You Begin

1. Create a new repository for this project called `pandas-challenge`. **Do not add this homework to an existing repository**.

2. Clone the new repository to your computer.

3. Inside your local git repository, create a directory for the Pandas Challenge you choose. Use folder names corresponding to the challenges: **HeroesOfPymoli** or  **PyCitySchools**.

4. Add your Jupyter notebook to this folder. This will be the main script to run for analysis.

5. Push the above changes to GitHub or GitLab.

## Option 1: Heroes of Pymoli

![Fantasy](Homework/InstructionsImages/Fantasy.png)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.


## Hints and Considerations

* These are challenging activities for a number of reasons. For one, these activities will require you to analyze thousands of records. Hacking through the data to look for obvious trends in Excel is just not a feasible option. The size of the data may seem daunting, but pandas will allow you to efficiently parse through it.

* Second, these activities will also challenge you by requiring you to learn on your feet. Don't fool yourself into thinking: "I need to study pandas more closely before diving in." Get the basic gist of the library and then _immediately_ get to work. When facing a daunting task, it's easy to think: "I'm just not ready to tackle it yet." But that's the surest way to never succeed. Learning to program requires one to constantly tinker, experiment, and learn on the fly. You are doing exactly the _right_ thing, if you find yourself constantly practicing Google-Fu and diving into documentation. There is just no way (or reason) to try and memorize it all. Online references are available for you to use when you need them. So use them!

* Take each of these tasks one at a time. Begin your work, answering the basic questions: "How do I import the data?" "How do I convert the data into a DataFrame?" "How do I build the first table?" Don't get intimidated by the number of asks. Many of them are repetitive in nature with just a few tweaks. Be persistent and creative!

* Expect these exercises to take time! Don't get discouraged if you find yourself spending  hours initially with little progress. Force yourself to deal with the discomfort of not knowing and forge ahead. Consider these hours an investment in your future!

* As always, feel encouraged to work in groups and get help from your TAs and Instructor. Just remember, true success comes from mastery and _not_ a completed homework assignment. So challenge yourself to truly succeed!

* Ensure your repository has regular commits (i.e. 20+ commits) and a thorough README.md file

### Copyright

Â© 2021 Trilogy Education Services, LLC, a 2U, Inc. brand. Confidential and Proprietary. All Rights Reserved.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# This block unchanged from Starter notebook except for variable and index rename
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)

# Test for output
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# look for missing values
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [3]:
# Find unique screen names to determine accurate player count
player_count = len(purchase_data["SN"].unique())

# Check output vs starter notebook
print(f"Total Players: {player_count}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculate the number of unqiue items
unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average price
average_price = purchase_data["Price"].mean()
average_price = average_price.round(2)

# Caluclate total number of purchases
num_purchases = len(purchase_data.index)

# Caluclate total revenue
total_revenue = purchase_data["Price"].sum()

# Create summary data frame
summary_total_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [average_price],
                          "Number of Purchases": [num_purchases],
                          "Total Revenue": [total_revenue]})

# Format Average Price and Total Revenue to currency format.
summary_total_df["Average Price"] = summary_total_df["Average Price"].map("${:,.2f}".format)
summary_total_df["Total Revenue"] = summary_total_df["Total Revenue"].map("${:,.2f}".format)

# Display summary data frame
summary_total_df.style.hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Create new df without duplicate screen names
gender_df = purchase_data[['Gender','SN']].drop_duplicates(subset = 'SN')

# Count how many purchases have occured for each listed gender category
gender_counts = gender_df["Gender"].value_counts()

# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_gender_df = gender_df.groupby(['Gender'])

# Percent math
gender_percent = (gender_counts/gender_counts.sum())*100

# Create summary df
demo_gender_df = pd.DataFrame({"Total Count": gender_counts,
                              "Percentage of Players": gender_percent})

# Format to percent
demo_gender_df["Percentage of Players"] = demo_gender_df["Percentage of Players"].map("{:,.2f}%".format)

# In order to be visualized, a data function must be used...
demo_gender_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Create grouped data frame
gen_purch_df = purchase_data.groupby('Gender')

# Get total count of purchases
gen_purch_count = gen_purch_df['Purchase ID'].count()

# Calculate mean of Price
gen_avg_price = gen_purch_df['Price'].mean()

# Calculate sum of all purchase prices
gen_total_purch = gen_purch_df['Price'].sum()

# Calculate average total purchase per person
gen_total_per = (gen_total_purch/gender_counts)

# Create summary df
purch_gen_df = pd.DataFrame({"Purchase Count": gen_purch_count,
                            "Average Purchase Price": gen_avg_price,
                            "Total Purchase Value": gen_total_purch,
                            "Avg Total Purchase per Person": gen_total_per})

# Format currency columns to currency format.
purch_gen_df["Average Purchase Price"] = purch_gen_df["Average Purchase Price"].map("${:,.2f}".format)
purch_gen_df["Total Purchase Value"] = purch_gen_df["Total Purchase Value"].map("${:,.2f}".format)
purch_gen_df["Avg Total Purchase per Person"] = purch_gen_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display summary data frame
purch_gen_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create new df without duplicate screen names
age_df = purchase_data[['Age','SN']].drop_duplicates(subset = 'SN')

# Create bins and bin names
# Cap of 150 to ensure no missed elderly ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Apply bins and labels
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=bin_labels)

# Group age data frame
age_df = age_df.groupby('Age Group').count()

# Count how many purchases have occured for each age bin
age_counts = age_df["SN"]

# Percent math
age_percent = (age_counts/age_counts.sum())*100

# Create summary df
demo_age_df = pd.DataFrame({"Total Count": age_counts,
                            "Percentage of Players": age_percent})

# Format to percent
demo_age_df["Percentage of Players"] = demo_age_df["Percentage of Players"].map("{:,.2f}%".format)

# Display summary df
demo_age_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame